/************* @font-face ***********/

@font-face {
	font-family: 'open_sanslight';
	src: url('fonts/OpenSans-Light-webfont.eot');
	src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/OpenSans-Light-webfont.woff2') format('woff2'),
		url('fonts/OpenSans-Light-webfont.woff') format('woff'),
		url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
		url('fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansbold';
	src: url('fonts/OpenSans-Bold-webfont.eot');
	src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/OpenSans-Bold-webfont.woff2') format('woff2'),
		url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
		url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
		url('fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansregular';
	src: url('fonts/OpenSans-Regular-webfont.eot');
	src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
		url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
		url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
		url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/************* Général **************/

html, body{
	font-size: 16px;
}

body{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	box-shadow: 2px 2px 2px #5E35B1;
	display: flex;
}

h1, h2{
	text-transform: uppercase;
}

h2,h3, h4, p{
	font-family: 'open_sansregular',sans-serif;
}

p{
	font-size: 1.2rem;
}

ul{
	list-style: none;
}

/****  main ***/

.main{
	order: 2;
	width: 59%;
	margin: 0 auto;
}

	/* header */

header{
	margin: 5rem 0 7rem 0;
}

h1{
	font-size: 4rem;
	font-family: 'open_sanslight',sans-serif;
	margin: 0;
	font-weight: lighter;
}

#prenom{
	color: #7E57C2;
	font-family: 'open_sansregular',sans-serif;
	font-weight: bold;
}

header h2{
	text-transform: none;
	font-family: 'open_sansbold';
	font-size: 1.8rem;
	color: #424242;
	padding: 0;
	margin: 0;
}

#border_h2{
	border-bottom: 0.2rem solid #7E57C2;
}

/* Section */

section i{
	color: #7E57C2;
	margin-right: 1.5rem;
}

section h2{
	padding-bottom: 0.4rem;
	font-size: 2rem;
	border-bottom: 0.2rem solid #7E57C2;
}

article ul{
	margin-left: -2.5rem;
}

article h3{
	margin-top: 0;
	margin-bottom: 0;
}

.liste {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.liste ul{
	display: flex;
}

.grande_puce{
	width: 5%;
}

.grande_puce i{
	font-size: 0.75rem;
	margin-top: 0.4rem;
	margin-right: 0rem;
}
.petite_puce{
	width: 5%;

}
.petite_puce i{
	font-size: 0.5rem;
	margin-top: 0.4rem;
	margin-right: 0rem;
}

.date{
	width: 30%;
}

.date h3{
	font-size: 1rem;
}

.texte{
	width: 65%;
}

.texte h3{
	font-size: 1.5rem;
	margin-bottom: 0;
}

.texte p{
	text-align: justify;
	font-size: 1.3rem;
	margin-top: 0.2rem;
}

/* Formation et Expérience */

#formation, #experience{
	margin-bottom: 4rem;
}

/*Recommandations */

#recommandation_div{
	display: flex;
}

#div_1{
	width: 55%;
}

#div_2{
	width: 45%;
}

#recommandations h4{
	font-size: 1.2rem;
	margin-top: 0.5rem;
	margin-bottom: 0.2rem;
}

#recommandations p{
	font-size: 1rem;
	margin: 0;
}

	/*** Liseret ***/

#liseret{
	order: 1;
	background-color: #7E57C2;
	width: 35%;
	margin-left: 0;
}

#liseret ul{
	padding-left: 0;
}

	/* figure image */

#bloc_image{
	order: 1;
	background: #7E57C2;
	margin: 3rem auto 2rem auto;
	text-align: center;
}

img{
	overflow:hidden;
	-webkit-border-radius:7.5rem;
	-moz-border-radius:7.5rem;
	border-radius:7.5rem;
	width:13.125rem;
	height: 13.125rem;
	box-shadow: 0px 0px 0px 1px rgba(94, 53, 177, 0.5),
				0px 0px 0px 4px rgba(99, 79, 134, 0.4),
				0px 0px 0px 5.5px rgba(73, 45, 121,0.4);
}

#liseret h2{
	color: #fff;
	height: 4rem;
	background-color: #212121;
	text-align: center;
	font-size: 2rem;
	line-height: 4rem;
	letter-spacing: 0.1rem;
	margin: 0;
}

.padding_p{
	padding: 1.5rem 2rem 3rem 2rem;
	margin: 0 auto;
}

#contact p{
	font-family: 'open_sansbold', sans-serif;
	font-size: 0.9rem;
}

#a_propos{
	font-size: 1.1rem;
	padding-bottom: 28rem;
	text-align: justify;
}

#loisirs_p{
	text-align: center;
	margin: 0 auto;
	padding: 1rem 2rem 0 2rem;
}

#loisirs_p i{
	font-size: 2.5rem;
	color: #212121;
	margin: 0.1rem 0.5rem;
	text-align: center;
	line-height: 4rem;
	overflow:hidden;
	-webkit-border-radius:3rem;
	-moz-border-radius:3rem;
	border-radius:3rem;
	width: 4rem;
	height: 4rem;
	border: 0.05rem solid #212121;
}
	

/****** Ecran Laptop - 1024px *********/

@media screen and (max-width: 1090px){
	
	/*main*/
	
	h1{
		font-size: 3rem;
	}
	
	header h2{
		font-size: 1.4rem;
	}
	
	section h2{
		font-size: 1.7rem;
	}
	
	.date h3{
		font-size: 0.75rem;
	}
	
	.texte h3{
		font-size: 1.1rem;
	}
	
	/*liseret*/
	
	#liseret h2{
	height: 3rem;
	font-size: 1.5rem;
	line-height: 3rem;
	letter-spacing: 0.1rem;
	margin: 0;
	}
	
	#a_propos{
		padding-bottom: 22rem;
	}
	
	#loisirs_p i{
		margin: 0.1rem 0.2rem;
	}
}


/****** Ecran mobile *********/

@media screen and (max-width: 807px)
{
	/* body */
	
	body{
		width: auto;
		min-width: 480px;
		flex-direction: column;
		margin: 0 auto;
	}
	
	/*** main ***/
	
	.main{
		margin: 0 auto;
		width: 90%;
	}
	
	/* header */
	
	header{
		text-align: center;
		margin-bottom: 3rem;
		padding-top: 0px;
	}
	
	/* section */
	
	#recommandations{
		margin-bottom:  2rem;
	}
	
	#recommandations h2, #formation h2, #experience h2{
		font-size: 1.5rem;
	}
	
	.date h3{
		font-size:  0.9rem;
	}
	
	.texte h3{
		font-size: 1.2em;
	}
	
	#div_1{
		margin-right: 0.5rem;
	}
	
	/* liseret */
	
	#liseret{
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}
	
	#bloc_image{
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}
	
	#image{
		margin-bottom: 2rem;
	}
	
	#contact p{
		text-align: center;
		font-size: 1em;
	}
	
	#a_propos p{
		font-size: 1em;
	}
	
	#loisirs_p{
		padding-bottom: 0;
	}
}











