/************* @font-face ***********/
@font-face {
	font-family: 'open_sanslight';
	src: url('fonts/OpenSans-Light-webfont.eot');
	src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/OpenSans-Light-webfont.woff2') format('woff2'),
		url('fonts/OpenSans-Light-webfont.woff') format('woff'),
		url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
		url('fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansbold';
	src: url('fonts/OpenSans-Bold-webfont.eot');
	src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/OpenSans-Bold-webfont.woff2') format('woff2'),
		url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
		url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
		url('fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansregular';
	src: url('fonts/OpenSans-Regular-webfont.eot');
	src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
		url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
		url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
		url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/************* Général **************/
h2{
	text-transform: uppercase;
}
h4{
	font-family: 'open_sansregular',sans-serif;
}
ul{
	margin-left: -20px;
	list-style-type: none;
}

/************* Body ****************/
body{

	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	box-shadow: 2px 2px 2px #5E35B1;
}
/**** Bloc liseret et main ***/
#bloc{
	display: flex;
	margin: 0px;
}
/************* main header *************/

/* header */
header{
	order:2;
	margin-bottom: 4em;
}
#prenom{
	color: #7E57C2;
	font-family: 'open_sansregular',sans-serif;
	font-weight: bold;
}

h1{
	font-size: 2.8em;
	text-transform: uppercase;
	font-family: 'open_sanslight',sans-serif;
	margin: 1.5em 0 0 0;
	font-weight: lighter;
}

header h2{
	text-transform: none;
	font-family: 'open_sansbold';
	font-size: 1.2em;
	color: #424242;
	padding: 0;
	margin: 0;

}

#border_h2{
	border-bottom: 2px solid #7E57C2;
}

/* figure image */
#bloc_image{
	order: 1;
	width: 30%;
	background: #7E57C2;
	margin-right: 40px;
	text-align: center;
}
img{
	overflow:hidden;
	-webkit-border-radius:80px;
	-moz-border-radius:80px;
	border-radius:80px;
	width:140px;
	height: 140px;
	margin: 35px auto 15px auto;
	box-shadow: 0px 0px 0px 1px rgba(94, 53, 177, 0.5),
				0px 0px 0px 4px rgba(99, 79, 134, 0.4),
				0px 0px 0px 5.5px rgba(73, 45, 121,0.4);
}

/* Main */
#main{
	order: 2;
	width: 60%;
	margin: 0 auto;
}
#main i{
	color: #7E57C2;
	margin-right: 15px;
}
#formation h2,#experience h2,#recommandations h2{
	padding-bottom: 5px;
	font-family: 'open_sansregular',sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	border-bottom: 2px solid #7E57C2;
}
#main h4{
	margin-top: 0px;
	margin-bottom: 0px;
}
#main p{
	font-size: 1.2em;
}
.liste{
	display: flex;
	margin-bottom: 10px;
	margin-left: -20px;
}
.grande_puce{
	width: 5%;
	margin-top: -2.5px;
}
.grande_puce i{
	font-size: 0.55em;

}
.petite_puce{
	width: 5%;
	margin-top: -3px;
}
.petite_puce i{
	font-size: 0.4em;
}
.date{
	width: 35%;
}
.date h4{
	font-size: 0.65em;
	font-family: 'open_sansregular',sans-serif;
}
.texte{
	width: 60%;
}
.texte h4{
	font-size: 1.2em;
	font-family: 'open_sansregular',sans-serif;
	margin-bottom: 0;
}
.texte p{
	font-family: 'open_sansregular', sans-serif;
	text-align: justify;
	margin-top: 2px;
}
/* Formation */
#formation{
	margin-bottom: 20px;
}

/* Expérience */
#experience{
	margin-bottom: 20px;
}

/*Recommandations */
#recommandation_div{
	display: flex;
}
#div_1{
	width: 55%;
}
#div_2{
	width: 45%;
}
#recommandations h4{
	font-size: 0.95em;
	margin-bottom: 2px;
}
#recommandations p{
	font-size: 0.75em;
	font-family: 'open_sansregular',sans-serif;
	margin: 0;
}

/* Liseret */
#liseret{
	order: 1;
	background-color: #7E57C2;
	width: 30%;
	margin-left: 0px;
}

.bloc_liseret h2{
	color: #fff;
	font-family: 'open_sanslight';
	height: 30px;
	background-color: #212121;
	text-align: center;
	font-size: 1em;
	line-height: 30px;
	letter-spacing: 1px;
	margin: 0;
}
.padding_p{
	padding: 10px 20px;
	text-align: justify;
	font-family: 'open_sansregular', sans-serif;

}
#contact p{
	font-family: 'open_sansbold', sans-serif;
	font-size: 0.7em;
	
}
#loisirs{
	margin-top: 15em;
}
#loisirs p{
	text-align: center;
}
#loisirs i{
	color: #212121;
	padding: 0 6px;
}
	
/****** Ecran mobile *********/


@media screen and (max-width: 768px)
{
	/* body */
	body{
		width: auto;
		min-width: 460px;
		margin: 0;
	}
	
	/* Div bloc */
	#bloc{
		flex-direction: column;
		margin: 0 auto;
	}
	
	/* main header */
	
	/* header */
	header{
		order: 1;
		text-align: center;
		margin-bottom: 3em;
		padding-top: 0px;
	}
	
	#bloc_image{
		order: 2;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}
	
	#image{
		margin-bottom: 30px;
	}
	
	h1{
		margin-top: 20px;
	}
	
	
	/* main liseret et main header */
	
	#bloc{
		flex-direction: column;
		margin: 0 auto;
	}
	
	#liseret{
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}
	
	#contact p{
		text-align: center;
		font-size: 1em;
	}
	
	#a_propos p{
		font-size: 1em;
	}
	
	#loisirs p{
		text-align: center;
	}
	
	/* main */
	#main{
		width: 90%;
		margin: 15px auto;
	}
	#recommandations{
		margin-bottom:  10px;
	}
}











